{% load static %}
{% load humanize %}
<a href="#" class="cart-toggle label-block link scale-down">
    <div class="cart-label d-lg-show">
        <span class="cart-name">Shopping Cart:</span>
        <span class="cart-price">&#8358;{{cart_total|floatformat:"0"|intcomma }}</span>
    </div>
    <i class="d-icon-bag small-cart" ><span class="cart-count">{{cart.items.count}}</span></i>
</a>
<style>
    @media only screen and (max-width: 720px) {
       .d-icon-phone, .small-cart {
          font-size: 24px !important;
        }
      }
</style>
<div class="canvas-overlay"></div>

    <div class="dropdown-box" >
    <div class="canvas-header">
        <h4 class="canvas-title">Shopping Cart</h4>
        <a href="#" class="btn btn-dark btn-link btn-icon-right btn-close">close<i
                class="d-icon-arrow-right"></i><span class="sr-only">Cart</span></a>
    </div>
    <div class="products scrollable"  >
    {% if cart.items.all %}
    {% for cart_item in cart.items.all %}
        <div id="cart-item-{{ cart_item.id }}" class="product product-cart">
            <figure class="product-media">
                <a href="{% url 'core:product-detail' cart_item.product.slug %}">
                    <img src="{{ cart_item.product.image.url }}" style="border-radius: 1.3rem;" alt="{{ cart_item.product.name }}" width="80" height="88" />
                </a>
                <button class="btn btn-link btn-close"  hx-on="htmx:afterRequest: document.getElementById('cart-item-{{ cart_item.id }}').remove()" hx-delete="{% url 'core:remove_from_cart' cart_item.id %}" hx-target="#cart-items" hx-swap="innerHTML">
                    <i class="fas fa-times"></i><span class="sr-only">Close</span>
                </button>
                
                
            </figure>
            <div class="product-detail">
                <a href="{% url 'core:product-detail' cart_item.product.slug %}" class="product-name">{{ cart_item.product.name }}</a>
                <div class="price-box">
                    <span class="product-quantity">{{ cart_item.quantity }}</span>
                    <span class="product-price">&#8358;{{ cart_item.product.price|floatformat:"0"|intcomma }}</span>
                </div>
            </div>
        </div>
    {% endfor %}
    {% else %}
    <div class="product-detail mt-5">
        <div class="price-box">
            <span class="product-price">No items in cart</span>
        </div>
    </div>
    {% endif %}

    </div>

    <div class="cart-total">
        <label>Subtotal:</label>
        <span class="price">&#8358;{{cart_total|floatformat:"0"|intcomma}}</span>
    </div>


    <div class="cart-action">
        <a href="{% url "core:view_cart" %}" class="btn btn-dark btn-link">View Cart</a>
        <a href="{% url "core:checkout" %}" class="btn btn-dark" style="border-radius: 3.75rem;"><span>Go To Checkout</span></a>
    </div>

</div>