
{% load static %}
{% load humanize %}
<div id="productsCanvas">
    <div class="product-lists product-wrapper">
        {% for  p in products %}
        <div class="product product-list">
            <figure class="product-media">
                <a href="{% url "core:product-detail" p.slug %}">
                    <img src="{{p.image.url}}" style="border-radius: 1.3rem;" alt="product" width="260" height="293">
                </a>
                {% if p.recent %}
                <div class="product-label-group">
                    <label class="product-label label-new" style="border-radius: 3.75rem;">new</label>
                </div>
                {% endif %}
            </figure>
            <div class="product-details">
                <div class="product-cat">
                    <a href="{% url "core:category-detail" p.category.slug %}">{{p.category.name}}</a>
                </div>
                <h3 class="product-name">
                    <a href="{% url "core:product-detail" p.slug %}">{{p.name}}</a>
                </h3>
                <div class="product-price">
                    <span class="price">&#8358;{{p.price|floatformat:"0"|intcomma}}</span>
                </div>
                <p class="product-short-desc">
                    {{p.description}}
                </p>
                <div class="product-action">
                    <a href="#" class="btn-product btn-cart"  hx-post="{% url 'core:add_to_cart' p.id %}" hx-target="#cart-items" hx-swap="innerHTML" style="border-radius: 3.75rem;" title="Add to cart"><i
                            class="d-icon-bag" ></i><span>Add to cart</span></a>
                    {% if user.is_authenticated %}
                        {% if p.id in wishlist_obj %}
                            <!-- Product is already in wishlist, disable the button -->
                            <a href="#" class="btn-product-icon btn-wishlist disabled added" title="Already in wishlist">
                                <i class="d-icon-heart-full" ></i>
                            </a>
                        {% else %}
                            <!-- Allow the user to add the product to wishlist -->
                            <a href="#" class="btn-product-icon btn-wishlist" hx-post="{% url 'core:add_to_wishlist' p.id %}" hx-target="#wishlist-container" hx-swap="innerHTML"  title="Add to wishlist"><i class="d-icon-heart" style="color: red;"></i></a>
                        {% endif %}
                    {% endif %}
                    <a href="#" class="btn-product-icon btn-search btn-quickview btn-preview" title="Quick View" 
                            hx-get="{% url "core:product-preview" p.slug %}" 
                            hx-target="#quickViewContent"
                            hx-trigger="click"
                            hx-select="#MainContent"
                            hx-swap="innerHTML"
                            hx-indicator="#preloader1">
                        <i class="d-icon-search"></i>
                    </a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
  