{% load static %}
{% load humanize %}
<style>
    .product-detail-img{
        width: 560px !important;
        height: auto !important; 
    }
    @media (max-width: 600px) {
        .product-detail-img {
            max-width: 100% !important; /* Adjust for smaller screens */
            height: auto !important;
        }
    }
</style>
<div class="product product-single row mb-7" id="MainContent">
    
    <div class="col-md-6 sticky-sidebar-wrapper" >
        <div class="product-gallery pg-vertical sticky-sidebar"
            data-sticky-options="{'minWidth': 767}">
            <div
                class="product-single-carousel owl-carousel owl-theme owl-nav-inner row cols-1 gutter-no">
                <figure class="product-image">
                    <img src="{{product.image.url}}" style="border-radius: 8px;"
                        data-zoom-image="/"
                        alt="{{product.name}}" width="800" height="900">
                </figure>
            </div>
{% comment %}             
            <div class="product-label-group">
                <label class="product-label label-new">new</label>
            </div> {% endcomment %}
        </div>
    </div>
    <div class="col-md-6">
        <div class="product-details" style="padding-bottom: 0px !important;">
           
            <h1 class="product-name product-name-mobile">{{product.name}}</h1>
            <div class="product-meta d-none-mobile">
                SKU: <span class="product-sku">{{product.sku}}</span>
                Category: <span class="product-brand">{{product.category}}</span>
            </div>
            <div class="product-price product-price-mobile">&#8358;{{product.price|intcomma}}</div>
            <p class="product-short-desc d-none-mobile">{{product.description}}</p>
          
            <div class="product-form product-color">
                <label>Color:</label>
                <div class="product-variations">
                    <a class="color active" href="#"
                        style="background-color: {{product.color|lower}}; border-radius: 3.75rem; width: 20px; height: 20px;"></a>
                    
                </div>
            </div>
            <div class="product-form product-size">
                <label>Size in inches:</label>
                <div class="product-form-group" >
                    <div class="product-variations" >
                        <a class="size active" href="#">{{product.size}}″</a>
                    </div>
                </div>
            </div>
            
            <hr class="product-divider">
            <div class="product-form product-qty">
                <div class="product-form-group">
                  
                    <button
                        class="btn-product btn-cart text-normal ls-normal font-weight-semi-bold" style="border-radius: 3.75rem;" ><i
                            class="d-icon-bag" hx-post="{% url 'core:add_to_cart' product.id %}" hx-target="#cart-items" hx-swap="innerHTML"></i>Add to
                        Cart</button>
                </div>
            </div>
            <hr class="product-divider mb-3 d-none-mobile">
            <div class="product-footer d-none-mobile">
                
                <a href="#" class="btn-product btn-wishlist mr-6"  hx-post="{% url 'core:add_to_wishlist' product.id %}" hx-target="#wishlist-container" hx-swap="innerHTML"><i class="d-icon-heart"></i>Add to
                    wishlist</a>
          
            </div>
            
        </div>
    </div>
    <style>
        @media only screen and (max-width: 720px) {
            .d-none-mobile{
                display: none;
            }
            .product-price-mobile{
                font-size: 0.875rem;
            }
            .product-name-mobile{
                font-size: 0.875rem;
            }
          }
          
    </style>
</div>