{% load static %}
{% load humanize %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    <title>Affordable Luxury Wigs & Hair Extensions – Empowering Nigerian Beauty</title>
    <meta name="keywords" content="wigs, hair extensions, Nigerian wigs, affordable wigs, luxury wigs, hair bundles, Nigerian hair, Precious Hairz, Ever Precious Hairz, hair accessories, lace front wigs, synthetic wigs, human hair wigs, beauty, fashion, Nigerian beauty products">

    <meta name="description" content="Discover premium wigs, bundles, and hair extensions that blend luxury with affordability. Precious Hairz offers a wide range of styles to enhance your natural beauty, tailored for the modern Nigerian woman. Shop now for high-quality, versatile hair solutions that empower your unique look.">
    <meta name="robots" content="index, follow">
    <meta property="og:title" content="Affordable Luxury Wigs & Hair Extensions – Empowering Nigerian Beauty">
    <meta property="og:description" content="Discover premium wigs, bundles, and hair extensions that blend luxury with affordability. Precious Hairz offers a wide range of styles to enhance your natural beauty, tailored for the modern Nigerian woman. Shop now for high-quality, versatile hair solutions that empower your unique look.">
    <meta property="og:url" content="https://www.precioushairz.com">
    <meta property="og:type" content="website">
    <meta property="og:image" content="https://www.precioushairz.com/static/images/logo.jpg">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="Affordable Luxury Wigs & Hair Extensions – Empowering Nigerian Beauty">
    <meta name="twitter:description" content="Explore premium wigs, bundles, and hair extensions at Precious Hairz. Designed for the modern Nigerian woman, our products combine luxury with affordability. Shop now to elevate your style.">
    <meta name="twitter:image" content="https://www.precioushairz.com/static/images/logo.jpg">
    <meta name="identifier-url" content="https://www.precioushairz.com">
    <meta name="revisit-after" content="7 days">
    <meta name="page-topic" content="Wigs, Hair Extensions, Nigerian Beauty, Fashion, Beauty, Human Hair, Hair care">
    
    <link rel="alternate" href="https://www.precioushairz.com" hreflang="en-ng"> <!-- For English in Nigeria -->
    
    <meta name="author" content="Precious Hairz">

    <link rel="apple-touch-icon" sizes="180x180" href="{% static "apple-touch-icon.png" %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static "favicon-32x32.png" %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static "favicon-16x16.png" %}">
    <link rel="manifest" href="{% static "site.webmanifest" %}">

    <link rel="preload" href="{% static "fonts/riode115b.ttf?5gap68" %}" as="font" type="font/woff2" crossorigin="anonymous">
    <link rel="preload" href="{% static "vendor/fontawesome-free/webfonts/fa-solid-900.woff2" %}" as="font" type="font/woff2"
        crossorigin="anonymous">
    <link rel="preload" href="{% static "vendor/fontawesome-free/webfonts/fa-brands-400.woff2" %}" as="font" type="font/woff2"
        crossorigin="anonymous">
    <script>
        WebFontConfig = {
            google: { families: ['Poppins:400,500,600,700,800'] }
        };
        (function (d) {
            var wf = d.createElement('script'), s = d.scripts[0];
            wf.src = 'js/webfont.js';
            wf.async = true;
            s.parentNode.insertBefore(wf, s);
        })(document);
    </script>
    <link rel="stylesheet" type="text/css" href="{% static 'vendor/fontawesome-free/css/all.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'vendor/animate/animate.min.css' %}">

    {% comment %} <link rel="stylesheet" type="text/css" href="{% static 'vendor/magnific-popup/magnific-popup.min.css' %}"> {% endcomment %}
    <link rel="stylesheet" type="text/css" href="{% static 'vendor/owl-carousel/owl.carousel.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'vendor/sticky-icon/stickyicon.css' %}">

    <link rel="stylesheet" type="text/css" href="{% static 'css/demo5.min.css' %}">

    <link rel="stylesheet" type="text/css" href="{% static "css/style.min.css" %}">
    <style>
        .htmx-indicator{
            opacity:0;
            transition: opacity 500ms ease-in;
        }
        .htmx-request .htmx-indicator{
            opacity:1
        }
        .htmx-request.htmx-indicator{
            opacity:1
        }
        .modal {
            display: none; /* Hidden by default */
            position: fixed; /* Stay in place */
            z-index: 1; /* Sit on top */
            padding-top: 60px; /* Location of the box */
            left: 0;
            top: 0;
            width: 100%; /* Full width */
            height: 100%; /* Full height */
            overflow: auto; /* Enable scroll if needed */
            background-color: rgb(0,0,0); /* Fallback color */
            background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
        }
        
        /* Modal Content */
        .modal-content {
            background-color: #fefefe;
            margin: 5% auto; /* 15% from the top and centered */
            padding: 20px;
            border: 1px solid #888;
            width: 80%; /* Could be more or less, depending on screen size */
            border-radius: 10px;
        }
        
        /* The Close Button */
        .close {
            color: #aaa;
            float: right;
            font-size: 28px;
            font-weight: bold;
        }
        
        .close:hover,
        .close:focus {
            color: black;
            text-decoration: none;
            cursor: pointer;
        }
        .scale-down {
            transition: transform 0.5s linear;
        }
        
        .scale-down:hover {
            transform: scale(0.96);
        }
        .d-icon-heart-full{
            color: red !important;
        }
    </style>

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            // Get the modal
            var modal = document.getElementById("quickViewModal");
    
            // Get the <span> element that closes the modal
            var span = document.getElementsByClassName("close")[0];
    
            // When the user clicks on the quick view button, open the modal
            document.querySelectorAll('.btn-preview').forEach(item => {
                item.addEventListener('click', event => {
                    event.preventDefault();
                    // Display the modal
                    modal.style.display = "block";
                });
            });
    
            // When the user clicks on <span> (x), close the modal
            span.onclick = function () {
                modal.style.display = "none";
            };
    
            // When the user clicks anywhere outside of the modal, close it
            window.onclick = function (event) {
                if (event.target == modal) {
                    modal.style.display = "none";
                }
            };
    
            // Search functionality
            const itemSearch = document.getElementById('item_search');
            const searchResults = document.getElementById('search_results');
            function debounce(func, wait) {
                let timeout;
                return function(...args) {
                    const context = this;
                    clearTimeout(timeout);
                    timeout = setTimeout(() => func.apply(context, args), wait);
                };
            }
            itemSearch.addEventListener('input', debounce(function () {
                let query = itemSearch.value;
                if (query.length > 5) {
                    fetch(`/search_query/?query=${query}`)
                        .then(response => response.json())
                        .then(data => {
                            searchResults.innerHTML = '';
                            searchResults.style.display = 'block';
            
                            // Check if there are any results
                            if (data.results.length === 0) {
                                const noResult = document.createElement('li');
                                noResult.textContent = 'No results';
                                searchResults.appendChild(noResult);
                            } else {
                                data.results.forEach(product => {
                                    const li = document.createElement('li');
                                    li.style.display = 'flex';  // Flexbox to align image and text
            
                                    // Create image element
                                    const img = document.createElement('img');
                                    img.src = product.image;  // Image URL
                                    img.alt = product.name;
                                    img.style.width = '50px';  // Set image size
                                    img.style.height = '50px';
                                    img.style.borderRadius = '0.7rem';
                                    img.style.marginRight = '10px';  // Space between image and text
            
                                    // Create anchor element
                                    const a = document.createElement('a');
                                    a.href = `/products/${product.slug}`;
                                    a.textContent = product.name;
                                    a.style.marginTop = '13px'; 
            
                                    // Append image and anchor to list item
                                    li.appendChild(img);
                                    li.appendChild(a);
            
                                    // Append list item to search results
                                    searchResults.appendChild(li);
                                });
                            }
                        })
                        .catch(error => {
                            console.error('Error fetching search results:', error);
                        });
                } else {
                    searchResults.style.display = 'none';
                }
            }, 300));
            
            
            
    
            // Keep the search results visible when the input is focused
            itemSearch.addEventListener('focus', function () {
                if (itemSearch.value.length > 3) {
                    searchResults.style.display = 'block';
                }
            });
    
            // Hide the search results when clicking outside the input and results
            document.addEventListener('click', function (event) {
                if (!itemSearch.contains(event.target) && !searchResults.contains(event.target)) {
                    searchResults.style.display = 'none';
                }
            });
    
            // Ensure results are visible again when clicking on the input
            itemSearch.addEventListener('click', function () {
                if (itemSearch.value.length > 3) {
                    searchResults.style.display = 'block';
                }
            });
    
            // Function to create and show the progress bar
            function showProgressBar() {
                // Check if the progress bar already exists
                var progressBar = document.getElementById('progress-bar');
    
                // If it doesn't exist, create it
                if (!progressBar) {
                    progressBar = document.createElement('div');
                    progressBar.id = 'progress-bar';
                    // Apply styles from your CSS
                    progressBar.style.position = 'fixed';
                    progressBar.style.top = '0';
                    progressBar.style.left = '0';
                    progressBar.style.width = '100%';
                    progressBar.style.height = '5px';
                    progressBar.style.backgroundColor = '#9c28b1';
                    progressBar.style.transition = 'width 0.4s ease';
                    progressBar.style.zIndex = '1000';
                    progressBar.style.display = 'none';
                    document.body.appendChild(progressBar); // Append the progress bar to the body
                }
    
                progressBar.style.display = 'block';
                setTimeout(() => { // Allow transition to work
                    progressBar.style.width = '50%';
                }, 10);
            }
    
            // Function to update the progress bar to full width
            function updateProgressBar() {
                var progressBar = document.getElementById('progress-bar');
                if (progressBar) {
                    progressBar.style.width = '100%';
                }
            }
    
            // Function to hide the progress bar
            function hideProgressBar() {
                var progressBar = document.getElementById('progress-bar');
                if (progressBar) {
                    setTimeout(function () {
                        progressBar.style.display = 'none';
                        progressBar.style.width = '0';
                    }, 500); // Delay to let the user see the progress completion
                }
            }
    
            // Event listeners for HTMX events
            document.addEventListener('htmx:configRequest', function (event) {
                showProgressBar();
            });
    
            document.addEventListener('htmx:beforeOnLoad', function (event) {
                updateProgressBar();
            });
    
            document.addEventListener('htmx:afterOnLoad', function (event) {
                hideProgressBar();
            });
        });
    </script>
    
</head>

<body class="home">
    
    <div class="page-wrapper">
       
     
        <h1 class="d-none">Ever Precious - Premium and affordable hair and hair accessories</h1>
        <header class="header">
            <div class="header-top">
                <div class="container">
                    
                    <div class="header-left">
                        <p class="welcome-msg">Welcome to Ever Precious Hairz</p>
                    </div>
                    <div class="header-right">
                        <div class=" ml-5">
                            <a href="{% url "core:products" %}">SHOP NOW</a>
                          
                        </div>

                        <div class="dropdown ml-5">
                            <a href="#language">ENG</a>
                            <ul class="dropdown-box">
                                <li>
                                    <a href="#USD">ENG</a>
                                </li>
                                <li>
                                    <a href="#EUR">FRH</a>
                                </li>
                            </ul>
                        </div>
                        

                        <span class="divider"></span>
                        <a href="{% url "core:contact" %}" class="contact d-lg-show"><i class="d-icon-map"></i>Contact</a>
                        <a href="#" onclick="smartsupp('chat:open'); return false;" class="help d-lg-show"><i class="d-icon-info"></i> Need Help</a>
                        {% if request.user.is_authenticated %}
                        <a href="{% url "userauths:account" %}" class="link-to-tab d-md-show"><i class="d-icon-user"  style="margin-right: 0.5rem;"></i>Account</a>
                        <span class="delimiter">/</span>
                        <a href="{% url "userauths:logout" %}" class=" link-to-tab d-md-show ml-0">Logout</a>
                        {% else %}
                            <a href="#signin" class="login-toggle link-to-tab d-md-show"><i class="d-icon-user"></i>Sign
                                in</a>
                            <span class="delimiter">/</span>
                            <a href="#register" class="register-toggle link-to-tab d-md-show ml-0">Register</a>
                        {% endif %}
                        <div class="dropdown login-dropdown off-canvas">
                            <div class="canvas-overlay"></div>

                            <div class="dropdown-box scrollable">
                                <div class="login-popup">
                                    <div class="form-box">
                                        <div class="tab tab-nav-simple tab-nav-boxed form-tab">
                                            <ul
                                                class="nav nav-tabs nav-fill align-items-center border-no justify-content-center mb-5">
                                                <li class="nav-item">
                                                    <a class="nav-link active border-no lh-1 ls-normal"
                                                        href="#signin">Login</a>
                                                </li>
                                                <li class="delimiter">or</li>
                                                <li class="nav-item">
                                                    <a class="nav-link border-no lh-1 ls-normal"
                                                        href="#register">Register</a>
                                                </li>
                                            </ul>
                                            <div class="tab-content" style="margin-top: 50px;">
                                                <div id="signin-response"></div>
                                                <div class="tab-pane active" id="signin">
                                                    <form hx-post="{% url 'userauths:sign-in' %}" style="margin-top: 10px" hx-target="#signin-response" hx-swap="innerHTML">
                                                        {% csrf_token %}
                                                        <div class="form-group mb-3">
                                                            <input type="text" class="form-control" id="signin-email" name="email" placeholder="Username or Email Address *" required>
                                                        </div>
                                                        <div class="form-group">
                                                            <input type="password" class="form-control" id="signin-password" name="password" placeholder="Password *" required>
                                                        </div>
                                                        <div class="form-footer">
                                                            <div class="form-checkbox">
                                                                <input type="checkbox" class="custom-checkbox" id="signin-remember" name="signin-remember">
                                                                <label class="form-control-label" for="signin-remember">Remember me</label>
                                                            </div>
                                                            <a href="#" class="lost-link">Lost your password?</a>
                                                        </div>
                                                        <button class="btn btn-dark btn-block btn-rounded" type="submit"  hx-indicator="#spinner" style="border-radius: 3.75rem">Login
                                                            <img  id="spinner" class="htmx-indicator" src="https://htmx.org/img/bars.svg"/>
                                                        </button>
                                                    </form>
                                                </div>
                                                <div class="tab-pane" id="register">
                                                    <div id="register-response"></div>
                                                    <form hx-post="{% url 'userauths:sign-up' %}" style="margin-top: 10px" hx-target="#register-response" hx-swap="innerHTML">
                                                        {% csrf_token %}
                                                        <div class="form-group mb-3">
                                                            <input type="text" class="form-control" id="register-name" name="full_name" placeholder="Your Name *" required>
                                                        </div>
                                                        <div class="form-group mb-3">
                                                            <input type="email" class="form-control" id="register-email" name="email" placeholder="Your Email Address *" required>
                                                        </div>
                                                        <div class="form-group mb-3">
                                                            <input type="text" class="form-control" id="register-number" name="phone_number" placeholder="Your Phone number *" required>
                                                        </div>
                                                        <div class="form-group">
                                                            <input type="password" class="form-control" id="register-password" name="password" placeholder="Password *" required>
                                                        </div>
                                                        <div class="form-footer">
                                                            <div class="form-checkbox">
                                                                <input type="checkbox" class="custom-checkbox" id="register-agree" name="register-agree" required>
                                                                <label class="form-control-label" for="register-agree">I agree to the privacy policy</label>
                                                            </div>
                                                        </div>
                                                        <button class="btn btn-dark btn-block btn-rounded" type="submit"  hx-indicator="#spinner" style="border-radius: 3.75rem">Register
                                                            <img  id="spinner" class="htmx-indicator" src="https://htmx.org/img/bars.svg"/>
                                                        </button>
                                                        
                                                    </form>
                                                </div>
                                            </div>
                                            
                                            
                                        </div>
                                    </div>
                                    
                                </div>
                            </div>

                        </div>

                    </div>
                </div>
            </div>

            <div class="header-middle sticky-header fix-top sticky-content">
                <div class="container">
                    <div class="header-left">
                        <a href="#" class="mobile-menu-toggle">
                            <i class="d-icon-bars2"></i>
                        </a>
                        <a href="/" class="logo">
                            <img src="{% static 'images/logo.jpg' %}" alt="logo" width="60" height="50" />
                        </a>

                        <div class="header-search hs-simple">
                            <form class="input-wrapper" method="GET"  action="{% url 'core:search' %}"  >
                                <input type="text" class="form-control " name="search" autocomplete="off"  id="item_search"
                                    placeholder="Search..." required  style="border-radius: 3.75rem;"/>
                                <button class="btn btn-search" type="submit" title="submit-button">
                                    <i class="d-icon-search"></i>
                                </button>
                            </form>
                            <ul id="search_results" class="search-dropdown" style="margin-top: 10px; border-radius: 6px; padding-top: 8px;"></ul>

                            
                        </div>
                       


                    </div>
                  
                    <div class="header-right">
                        <a href="tel:+2348025067397" class="icon-box icon-box-side scale-down">
                            <div class="icon-box-icon mr-0 mr-lg-2">
                                <i class="d-icon-phone"></i>
                            </div>
                            <div class="icon-box-content d-lg-show ">
                                <h4 class="icon-box-title">Call Us Now:</h4>
                                <p>(+234) 8025067397</p>
                            </div>
                        </a>
                        <span class="divider"></span>
                        <div class="dropdown wishlist wishlist-dropdown off-canvas">
                            <a href="#" class="wishlist-toggle scale-down" title="wishlist">
                                <i class="d-icon-heart"></i>
                            </a>
                            <div class="canvas-overlay"></div>

                            <div class="dropdown-box scrollable">
                                <div class="canvas-header">
                                    <h4 class="canvas-title">wishlist</h4>
                                    <a href="#" class="btn btn-dark btn-link btn-icon-right btn-close">close<i
                                            class="d-icon-arrow-right"></i><span class="sr-only">wishlist</span></a>
                                </div>
                                <div class="products scrollable" id="wishlist-container">
                                    {% include "htmx/wishlist_items.html" %}
                                </div>
                                <a href="{% url "core:view_wishlist" %}" class="btn btn-dark wishlist-btn mt-4" style="border-radius: 3.75rem;"><span>Go To
                                        Wishlist</span></a>

                            </div>

                        </div>
                        <span class="divider"></span>
                        <div class="dropdown cart-dropdown type2 off-canvas mr-0 mr-lg-2" id="cart-items">
                            {% include "htmx/cart_items.html"  %}
                        </div>
                    </div>
                    
                </div>
                
            </div>
           
        </header>

                <!-- Quick View Modal -->
        <div id="quickViewModal" class="modal" style="z-index: 1000;">
            <div class="modal-content">
                <span class="close">&times;</span>
                <div id="quickViewContent">
                    <div id="preloader1" style="display: flex; align-items: center; justify-content: center;">
                        <!-- Your preloader content, e.g., a spinner or loading animation -->
                        <img src="{% static 'images/preloader.gif' %}" alt="Loading...">
                    </div>
                    <!-- Product details will be loaded here -->
                    
                </div>
            </div>
        </div>
       
        {% block content %}


        {% endblock content %}
        <style>
            .widget-title{
                color: #404040 !important;
            }
            .widget-body a{
                color:  #595959 !important;
            }
        </style>
        <footer class="footer" style="background: #FBF7F4; border-top-left-radius: 1.75rem; border-top-right-radius: 1.75rem;">
            <div class="container">
                <div class="footer-middle">
                    <div class="row">
                        <div class="col-lg-4 col-sm-6">
                            <div class="widget widget-about">
                                <a href="/" class="logo-footer">
                                    <img src="{% static 'images/logo.jpg' %}" alt="logo-footer" width="50"
                                        height="30" />
                                </a>
                                <div class="widget-body">
                                    <p class="ls-s" style=" color:  #595959 !important">Precious Hairz offers premium wigs, bundles, and hair accessories, providing you with high-quality products to elevate your style.</p>
                                    <a
                                        href="mail:everprecioushairz@yahoo.com"><span
                                            class="__cf_email__"
                                            >everprecioushairz@yahoo.com</span></a>
                                </div>
                            </div>

                        </div>
                        <div class="col-lg-4 col-sm-6">
                            <div class="widget">
                                <h4 class="widget-title">About Us</h4>
                                <ul class="widget-body">
                                    <li><a href="{% url "core:about" %}">About Us</a></li>
                                    <li><a href="#">Order History</a></li>
                            
                                </ul>
                            </div>

                        </div>
                        <div class="col-lg-4 col-sm-6">
                            <div class="widget">
                                <h4 class="widget-title">Customer Service</h4>
                                <ul class="widget-body">
                                    <li><a href="#">Payment Methods</a></li>
                                    <li><a href="#">Shipping</a></li>
                                    <li><a href="#">Terms and Conditions</a></li>
                                </ul>
                            </div>

                        </div>
                        <div class="col-lg-4 col-sm-6">
                            <div class="widget">
                                <h4 class="widget-title">My Account</h4>
                                <ul class="widget-body">
                                    <li><a href="#signin" class="login-toggle">Sign in</a></li>
                                    <li><a href="{% url "core:view_cart" %}">View Cart</a></li>
                                    <li><a href="{% url "core:view_wishlist" %}">My Wishlist</a></li>
                                    <li><a href="#" onclick="smartsupp('chat:open'); return false;">Track My Order</a></li>
                                    <li><a href="#">Help</a></li>
                                </ul>
                            </div>

                        </div>
                    </div>
                </div>

                <div class="footer-bottom">
                    <div class="footer-left">
                        <figure class="payment">
                            <img src="{% static 'images/payment.png' %}" alt="payment" width="159" height="29" />
                        </figure>
                    </div>
                    <div class="footer-center">
                        <p class="copyright">Ever Precious Hairz &copy; 2022. All Rights Reserved</p>
                    </div>
                    <div class="footer-right">
                        <div class="social-links">
                            <a href="#" title="social-link" class="social-link social-facebook fab fa-facebook-f"></a>
                            <a href="#" title="social-link" class="social-link social-twitter fab fa-twitter"></a>
                            <a href="#" title="social-link" class="social-link social-linkedin fab fa-linkedin-in"></a>
                        </div>
                    </div>
                </div>

            </div>
        </footer>

    </div>

<div class="sticky-footer sticky-content fix-bottom">
<a href="/" class="sticky-link">
    <i class="d-icon-home"></i>
    <span>Home</span>
</a>
<a href="{% url "core:categories" %}" class="sticky-link">
    <i class="d-icon-volume"></i>
    <span>Categories</span>
</a>
<a href="{% url "core:view_wishlist" %}" class="sticky-link">
    <i class="d-icon-heart"></i>
    <span>Wishlist</span>
</a>
{% if request.user.is_authenticated %}
    <a href="{% url "userauths:account" %}"  class="sticky-link">
        <i class="d-icon-user"></i>
        <span>Account</span>
    </a>
{% else %}
    <a href="#signin"  class="login-toggle sticky-link">
        <i class="d-icon-user"></i>
        <span>Login</span>
    </a>
{% endif %}
<div class="header-search hs-toggle dir-up">
    <a href="#" class="mobile-menu-toggle sticky-link">
        <i class="d-icon-search"></i>
        <span>Search</span>
    </a>
    <form action="#" class="input-wrapper">
        <input type="text" class="form-control item_search" name="search" autocomplete="off"
            placeholder="Search your keyword..." required  style="border-radius: 3.75rem;" />
        <button class="btn btn-search" type="submit" title="submit-button" style="border-radius: 3.75rem;">
            <i class="d-icon-search"></i>
        </button>
    </form>
    <ul class="search_results search-dropdown"></ul>
</div>
</div>



<div class="mobile-menu-wrapper">
<div class="mobile-menu-overlay">
</div>

<a class="mobile-menu-close" href="#"><i class="d-icon-times"></i></a>

<div class="mobile-menu-container scrollable" style="border-bottom-right-radius: 3.75rem;border-top-right-radius: 3.75rem;">
    <form action="#" class="input-wrapper">
        <input type="text" class="form-control item_search" style="border-radius: 3.75rem;" name="search" autocomplete="off" 
            placeholder="Search your keyword..." required />
        <button class="btn btn-search" style="border-radius: 3.75rem;" type="submit" title="submit-button">
            <i class="d-icon-search"></i>
        </button>
        <ul class="search_results search-dropdown" style="margin-top: 50px; background: #000000; color: #fff;"></ul>
      
    </form>
 
    
    <div class="tab tab-nav-simple tab-nav-center tab-nav-boxed">
        <ul class="nav nav-tabs nav-fill">
            <li class="nav-item">
                <a href="#tab-1" class="nav-link active">Main Menu</a>
            </li>
            <li class="nav-item">
                <a href="#tab-2" class="nav-link">Categories</a>
            </li>
        </ul>
    </div>
    <div class="mobile-menu mmenu-anim tab-content">
        <ul class="tab-pane active" id="tab-1">
            <li>
                <a href="/">Home</a>
            </li>
            <li>
                <a href="{% url "core:categories" %}">Categories</a>
                <ul>
                    {% for c in categories %}
                    <li>
                        <a href="{% url "core:category-detail" c.slug %}">
                            {{c.name}}
                        </a>
                     
                    </li>
                    {% endfor %}
                </ul>
            </li>
            <li>
                <a href="{% url "core:products" %}" class="active">All Products</a>
               
            </li>
            <li>
                <a href="#">Pages</a>
                <ul>
                    <li><a href="{% url "core:about" %}">About</a></li>
                    <li><a href="{% url "core:contact" %}">Contact Us</a></li>
                    <li><a href="#">Login</a></li>
                    <li><a href="{% url "core:faq" %}">FAQs</a></li>
                    </li>
                </ul>
            </li>
            
    
        </ul>
        <ul class="tab-pane" id="tab-2">
            <li>
                <a href="{% url "core:category-detail" categories.0.slug %}"><img src="{% static "images/shop/hair-svgrepo-com-white.svg" %}" style="height: 27px; width: 27px; margin-right: 3px"/> {{categories.0.name}}</a>
            </li>
            <li>
                <a href="{% url "core:category-detail" categories.1.slug %}"><img src="{% static "images/shop/bundles-white.svg" %}" style="height: 20px; width: 20px; margin-right: 7px"/> {{categories.1.name}}</a>
            </li>
            <li>
                <a href="{% url "core:category-detail" categories.2.slug %}"><img src="{% static "images/shop/hair-clip-beauty-svgrepo-com-white.svg" %}" style="height: 20px; width: 20px; margin-right: 7px"/> {{categories.2.name}}</a>
            </li>
            <li>
                <a href="{% url "core:category-detail" categories.4.slug %}"><img src="{% static "images/shop/shampoo-svgrepo-com-white.svg" %}" style="height: 20px; width: 20px; margin-right: 7px"/> {{categories.4.name}}</a>
            </li>
            <li>
                <a href="{% url "core:category-detail" categories.3.slug %}"><img src="{% static "images/shop/hair-salon-2-svgrepo-com-white.svg" %}" style="height: 20px; width: 20px; margin-right: 7px"/> {{categories.3.name}}</a>
            </li>

            <li><a href="#" class="menu-title">Today Deals</a>
            </li>
            <li>
                <a href="{% url "core:products" %}">
                    <i class="d-icon-card"></i>All Products
                </a>
            </li>
            <li >
                <a href="#">
                    <i class="d-icon-card"></i>Visit Our Store
                </a>
            </li>
        </ul>
    </div>

</div>
</div>





<!-- Smartsupp Live Chat script -->
<script type="text/javascript">
    var _smartsupp = _smartsupp || {};
    _smartsupp.key = '831ad2765d09de283501bbe96217fc2c0e7794ed';
    _smartsupp.offsetY = 68;
    window.smartsupp||(function(d) {
        var s,c,o=smartsupp=function(){ o._.push(arguments)};o._=[];
        s=d.getElementsByTagName('script')[0];c=d.createElement('script');
        c.type='text/javascript';c.charset='utf-8';c.async=true;
        c.src='https://www.smartsuppchat.com/loader.js?';s.parentNode.insertBefore(c,s);
    })(document);
    </script>
    <noscript> Powered by <a href=“https://www.smartsupp.com” target=“_blank”>Smartsupp</a></noscript>
<script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
<script src="{% static 'vendor/owl-carousel/owl.carousel.min.js' %}"></script>
<script src="{% static 'vendor/imagesloaded/imagesloaded.pkgd.min.js' %}"></script>
<script src="{% static 'js/main.min.js' %}"></script>
<script src="{% static 'js/htmx.min.js' %}"></script>
<script src="{% static 'assets/js/swiper8-bundle.min.js' %}"></script>

</body>

</html>