{% extends "partials/base.html" %}
{% load static %}
{% block content %}

        <main class="main">
            <nav class="breadcrumb-nav">
                <div class="container">
                    <ul class="breadcrumb">
                        <li><a href="/"><i class="d-icon-home"></i></a></li>
                        <li>About Us</li>
                    </ul>
                </div>
            </nav>
            <div class="page-header pl-4 pr-4" style="background-image: url(images/page-header/about-us.jpg)">
                <h3 class="page-subtitle font-weight-bold">Welcome to Riode</h3>
                <h1 class="page-title font-weight-bold lh-1 text-white text-capitalize">About Us</h1>
                <p class="page-desc text-white mb-0">Lorem quis bibendum auctor, nisi elit consequat ipsum,<br> nec
                    sagittis sem nibh id elit.</p>
            </div>
            <div class="page-content mt-10 pt-10">
                <section class="about-section pb-10 appear-animate">
                    <div class="container">
                        <div class="row align-items-center">
                            <div class="col-lg-4 mb-10 mb-lg-4">
                                <h5 class="section-subtitle lh-2 ls-md font-weight-normal">01. What We Do</h5>
                                <h3 class="section-title lh-1 font-weight-bold">Provide perfect and Affordable wigs
                                </h3>
                                <p class="section-desc">Lorem quis bibendum auctar, nisi elit consequat ipsum, nec
                                    sagittis sem nibh id elit.</p>
                            </div>
                            <div class="col-lg-8 ">
                                <div class="row">
                                    <div class="col-md-4 mb-4">
                                        <div class="counter text-center text-dark">
                                            <span class="count-to" data-fromvalue="0" data-tovalue="34"
                                                data-duration="900" data-delimiter=",">0</span>
                                            <h5 class="count-title font-weight-bold text-body ls-md">core Year</h5>
                                            <p class="text-grey mb-0">Lorem ipsum dolor sit<br>amet, conctetur adipisci
                                                elit. viverra erat orci.</p>
                                        </div>
                                    </div>
                                    <div class="col-md-4 mb-4">
                                        <div class="counter text-center text-dark">
                                            <span class="count-to" data-fromvalue="0" data-tovalue="50"
                                                data-duration="900" data-delimiter=",">0</span>
                                            <h5 class="count-title font-weight-bold text-body ls-md">Design Brands</h5>
                                            <p class="text-grey mb-0">Lorem ipsum dolor sit<br>amet, conctetur adipisci
                                                elit. viverra erat orci.</p>
                                        </div>
                                    </div>
                                    <div class="col-md-4 mb-4">
                                        <div class="counter text-center text-dark">
                                            <span class="count-to" data-fromvalue="0" data-tovalue="130"
                                                data-duration="900" data-delimiter=",">0</span>
                                            <h5 class="count-title font-weight-bold text-body ls-md">Team Members</h5>
                                            <p class="text-grey mb-0">Lorem ipsum dolor sit<br>amet, conctetur adipisci
                                                elit. viverra erat orci.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>

                <section class="customer-section pb-10 appear-animate">
                    <div class="container">
                        <div class="row align-items-center">
                            <div class="col-md-7 mb-4">
                                <figure>
                                    <img src="{% static 'images/subpages/customer.jpg' %}" alt="Happy Customer" width="580"
                                        height="507" class="banner-radius" style="background-color: #BDD0DE;" />
                                </figure>
                            </div>
                            <div class="col-md-5 mb-4">
                                <h5 class="section-subtitle lh-2 ls-md font-weight-normal">02. Happy Customer</h5>
                                <h3 class="section-title lh-1 font-weight-bold">Provide fashionable and<br>qualifed
                                    products</h3>
                                <p class="section-desc text-grey">
                                    {% lorem 1 b random %}
                                </p>
                                <a href="#" class="btn btn-dark btn-link btn-underline ls-m">Visit Our Store<i
                                        class="d-icon-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                </section>

                <section class="store-section pb-10 appear-animate">
                    <div class="container">
                        <div class="row align-items-center">
                            <div class="col-md-6 order-md-first mb-4">
                                <h5 class="section-subtitle lh-2 ls-md font-weight-normal mb-1">03. Our Store</h5>
                                <h3 class="section-title lh-1 font-weight-bold">Expect Restless<br>Amazing Support</h3>
                                <p class="section-desc text-grey">
                                    {% lorem 1 b random %}
                                </p>
                                <a href="#" class="btn btn-dark btn-link btn-underline ls-m">Get Our Store<i
                                        class="d-icon-arrow-right"></i></a>
                            </div>
                            <div class="col-md-6 mb-4">
                                <figure>
                                    <img src="{% static 'images/subpages/store.jpg' %}" alt="Our Store" width="580" height="507"
                                        class="banner-radius" style="background-color: #DEE6E8;" />
                                </figure>
                            </div>
                        </div>
                    </div>
                </section>



            </div>
        </main>
{% endblock content %}