{% extends "partials/base.html" %}
{% load static %}
{% load humanize %}
{% block content %}


        <main class="main">
            <div class="page-content">
                <section class="intro-section ">
                    <div class="container">
                        <div class="row grid">
                            <div class="grid-item col-xl-3 col-lg-4 height-x2 category-list d-lg-block d-none">
                                <ul class="menu menu-options vertical-menu category-menu" style="border-radius: 1.25rem;"
                                    data-animation-options="{
                                'name': 'fadeInRightShorter',
                                'delay': '.2s'
                            }">
                                    <li><a href="{% url "core:categories" %}" class="menu-title">Browse Our Categories</a></li>
                                    <li>
                                        <a href="{% url "core:category-detail" categories.0.slug %}"><img src="{% static "images/shop/hair-svgrepo-com.svg" %}" style="height: 27px; width: 27px; margin-right: 3px"/> {{categories.0.name}}</a>
                                    </li>
                                    <li>
                                        <a href="{% url "core:category-detail" categories.1.slug %}"><img src="{% static "images/shop/bundles.svg" %}" style="height: 20px; width: 20px; margin-right: 7px"/> {{categories.1.name}}</a>
                                    </li>
                                    <li>
                                        <a href="{% url "core:category-detail" categories.2.slug %}"><img src="{% static "images/shop/hair-clip-beauty-svgrepo-com.svg" %}" style="height: 20px; width: 20px; margin-right: 7px"/> {{categories.2.name}}</a>
                                    </li>
                                    <li>
                                        <a href="{% url "core:category-detail" categories.4.slug %}"><img src="{% static "images/shop/shampoo-svgrepo-com.svg" %}" style="height: 20px; width: 20px; margin-right: 7px"/> {{categories.4.name}}</a>
                                    </li>
                                    <li>
                                        <a href="{% url "core:category-detail" categories.3.slug %}"><img src="{% static "images/shop/hair-salon-2-svgrepo-com.svg" %}" style="height: 20px; width: 20px; margin-right: 7px"/> {{categories.3.name}}</a>
                                    </li>


                                    <li><a href="#" class="menu-title">Today Deals</a>
                                    </li>
                                    <li>
                                        <a href="{% url "core:products" %}">
                                            <i class="d-icon-card"></i>All Products
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="d-icon-card"></i>Daily Deals
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <div class="grid-item col-xl-9 col-lg-9 col-md-8 height-x2">
                                <div class="intro-slider  owl-carousel owl-theme row owl-dot-inner owl-dot-dark owl-full-height animation-slider cols-1 "
                                    data-animation="{
                                    'name': 'fadeIn',
                                    'delay': '.2s'
                                }" data-owl-options="{
                                    'items': 1,
                                    'nav': false,
                                    'dots': true,
                                    'loop': true,
                                    'autoplay': true,
                                    'animateIn': 'fadeInLeft',
                                    'animateOut': 'fadeOutRight'
                                }">
                                    <div class="intro-slide1 banner banner-fixed banner-radius"
                                        style="background-color: #f6f5f7;">
                                        <figure>
                                            <img src="{% static 'images/shop/happy-black-woman-368.jpg' %}" width="580" height="508"
                                                alt="banner" />
                                        </figure>
                                        <div class="banner-content y-50">
                                            <h4 class="banner-subtitle text-uppercase font-weight-normal ls-normal slide-animate"
                                                data-animation-options="{'name': 'fadeInLeftShorter', 'duration': '1s'}" style="color: #fff !important;">
                                                <span class="text-primary font-weight-bold"  style="color: #fff !important;">01.&nbsp;&nbsp;</span>Precious Hairz STORE
                                            </h4>
                                            <h3 class="banner-title font-weight-bold ls-md slide-animate" style="color: #fff !important;"
                                                data-animation-options="{'name': 'blurIn', 'delay': '.4s', 'duration': '1s'}">
                                                The Perfect Match <br />for women</h3>
                                            <p class="font-weight-normal ls-normal lh-1 text-uppercase text-dark mb-5 slide-animate"
                                                data-animation-options="{'name': 'fadeInUpShorter', 'delay': '.7s', 'duration': '1s'}">
                                                Starting At <strong class="text-primary">$24.00</strong></p>
                                            <a href="#"
                                                class="btn btn-dark btn-sm btn-rounded slide-animate"
                                                data-animation-options="{'name': 'fadeInUpShorter', 'delay': '.9s', 'duration': '1s'}">Shop
                                                now</a>
                                        </div>
                                    </div>
                                    <div class="intro-slide2 banner banner-fixed banner-radius"
                                        style="background-color: #e4e8ec;">
                                        <figure>
                                            <img src="{% static 'images/demos/demo5/slides/2.jpg' %}" width="580" height="508"
                                                alt="banner" />
                                        </figure>
                                        <div class="banner-content y-50">
                                            <div class="slide-animate" data-animation-options="{
                                                'name': 'fadeInLeftShorter',
                                                'delay': '.2s'
                                            }">
                                                <h4 class="banner-subtitle text-uppercase font-weight-normal ls-normal">
                                                    <span class="text-primary font-weight-bold">02.&nbsp;</span>Precious Hairz STORE
                                                </h4>
                                                <h3 class="banner-title font-weight-bold ls-md mb-2 slide-animate"
                                                    data-animation-options="{
                                                    'name': 'fadeInLeftShorter',
                                                    'delay': '.2s'
                                                }">Big Sale <br />for women</h3>
                                                <p class="text-uppercase text-dark ml-1">
                                                    Up To<strong
                                                        class="text-primary ml-1 mr-1">$24.00</strong><strong>Off</strong>
                                                </p>
                                                <a class="btn btn-white btn-sm btn-rounded btn-shadow"
                                                    href="{% url "core:products" %}">Shop now</a>
                                            </div>
                                        </div>
                                    </div>
                                    
                                </div>
                            </div>
                   
                            <div class="grid-item col-lg-6 col-md-4 height-x1">
                                <div class="intro-banner intro-banner3 banner banner-fixed banner-radius 
                                    overlay-light " style="background-color: #3a4146;"
                                    data-animation-options="{
                                    'name': 'fadeInUpShorter',
                                    'delay': '.2s'
                                }">
                                    <a href="{% url "core:products" %}">
                                        <figure>
                                            <img src="{% static 'images/shop/happy-afro-woman-with-beautiful-smile.jpg' %}" width="580" height="241"
                                                alt="banner" />
                                        </figure>
                                    </a>
                                    <div class="banner-content y-50">
                                        <h4 id="bannerSubtitle" class="banner-subtitle text-uppercase font-weight-bold text-primary">
                                            <span id="dayOfWeek">FRIDAY</span> SALE
                                        </h4>
                                        
                                        <script>
                                            // Get the current date
                                            var currentDate = new Date();
                                        
                                            // Get the day of the week as a string
                                            var daysOfWeek = ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"];
                                            var currentDay = daysOfWeek[currentDate.getDay()];
                                        
                                            // Replace the day in the HTML
                                            document.getElementById('dayOfWeek').textContent = currentDay.toUpperCase();
                                        </script>
                                        
                                        <h3 class="banner-title text-white lh-1 font-weight-bold"> New Arrivals
                                        </h3>
                                        <a href="{% url "core:products" %}"
                                            class="btn btn-white btn-link btn-underline btn-icon-right">Shop
                                            Now<i class="d-icon-arrow-right"></i></a>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="grid-item col-lg-6 col-md-4 col-sm-6 height-x1">
                                <div class="intro-banner intro-banner5 banner banner-fixed banner-radius 
                                    overlay-dark" style="background-color: #f3f5f3;"
                                    data-animation-options="{
                                    'name': 'fadeInUpShorter',
                                    'delay': '.2s'
                                }">
                                    <a href="{% url "core:products" %}">
                                        <figure>
                                            <img src="{% static 'images/shop/artificial-fake-hair-wig-on-rattan-head-mannequin.jpg' %}" width="280" height="241"
                                                alt="banner" />
                                        </figure>
                                    </a>
                                    <div class="banner-content">
                                        <h4 class="banner-subtitle text-uppercase font-weight-normal ls-s">
                                            10% Off from</h4>
                                        <h3 class="banner-title ls-m font-weight-normal">Our Store</h3>
                                        <a href="{% url "core:products" %}" class="btn btn-link btn-underline btn-icon-right">Shop
                                            Now<i class="d-icon-arrow-right"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="grid-space col-1"></div>
                        </div>
                    </div>
                </section>
               
                <section class="pt-7 mt-5 " data-animation-options="{'delay': '.3s'}">
                    <div class="container">
                        <h2 class="title mb-5 pb-3">Popular Categories</h2>
                        <div class="owl-carousel owl-theme row cols-lg-4 cols-md-3 cols-sm-2 cols-1" data-owl-options="{
                            'nav': false,
                            'dots': true,
                            'autoplay': false,
                            'margin': 20,
                            'responsive': {
                                '0': {
                                    'items': 1
                                },
                                '576': {
                                    'items': 2
                                },
                                '768': {
                                    'items': 3
                                },
                                '992': {
                                    'items': 4,
                                    'dots': false
                                }
                            }
                        }">
                        {% for category in categories %}
                            <div class="category category-default1 category-absolute banner-radius overlay-zoom">
                                <a href="{% url "core:category-detail" category.slug %}">
                                    <figure class="category-media" style="background-color: #edd3c7;">
                                        <img src="{{category.image.url}}"  alt="category" width="280"
                                            height="280" />
                                    </figure>
                                </a>
                                <div class="category-content">
                                    <h4 class="category-name ls-l"><a href="{% url "core:category-detail" category.slug %}">{{category.name}}</a>
                                    </h4>
                                </div>
                            </div>
                        {% endfor %}
                        </div>
                    </div>
                </section>
                <section class="mt-10 pt-2 mb-8 appear-animate" data-animation-options="{
                    'name': 'fadeIn',
                    'delay': '.2s'}">
                    <div class="container">
                        <h2 class="title  pb-3">Featured Products</h2>
                        <div class="row cols-lg-4 cols-md-3 cols-2">
                            {% for p in products %}
                            <div class="product text-center">
                                <figure class="product-media" style="background-color: #f7f8fa;">
                                    <a href="{% url "core:product-detail" p.slug %}">
                                        <img src="{{p.image.url}}" alt="{{p.name}}" style="border-radius: 1.25rem;" width="280" height="280">
                                    </a>
                                    <div class="product-action-vertical">
                                        <a href="#" class="btn-product-icon btn-cart" data-toggle="modal" data-target="#addCartModal" hx-post="{% url 'core:add_to_cart' p.id %}" hx-target="#cart-items" hx-swap="innerHTML" title="Add to cart"><i class="d-icon-bag"></i></a>
                                        {% if user.is_authenticated %}
                                        <a href="#" class="btn-product-icon btn-wishlist"  hx-post="{% url 'core:add_to_wishlist' p.id %}" hx-target="#wishlist-container" hx-swap="innerHTML" title="Add to wishlist"><i class="d-icon-heart"></i></a>
                                        {% endif %}
                                        <a href="#" class="btn-product-icon btn-search btn-preview" title="Quick View" 
                                            hx-get="{% url "core:product-preview" p.slug %}" 
                                            hx-target="#quickViewContent"
                                            hx-trigger="click"
                                            hx-select="#MainContent"
                                            hx-swap="innerHTML"
                                            hx-indicator="#preloader1">
                                            <i class="d-icon-search"></i>
                                        </a>
                                    </div>
                                </figure>
                                <div class="product-details" style="text-align: left;">
                                    <div class="product-cat">
                                        <a href="{% url "core:category-detail" p.category.slug %}">{{p.category.name}}</a>
                                    </div>
                                    <h3 class="product-name">
                                        <a href="{% url "core:product-detail" p.slug %}" style="font-weight: 600;">{{p.name}}</a>
                                    </h3>
                                    <div class="product-name">
                                        <span class="price" style="font-weight: 600;">&#8358;{{p.price|floatformat:"0"|intcomma}}</span>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                            

                           
                        </div>
                    </div>
                </section>
                <section class="mt-10 pt-2 mb-8 appear-animate" data-animation-options="{
                    'name': 'fadeIn',
                    'delay': '.2s'}">
                    <div class="container">
                        <h2 class="title title-simple title-center">Daily Deals</h2>
                        <div class="row cols-lg-5 cols-md-6 cols-2">
                            {% for p in new_products %}
                            <div class="product text-center">
                                <figure class="product-media" style="background-color: #f7f8fa;">
                                    <a href="{% url "core:product-detail" p.slug %}">
                                        <img src="{{p.image.url}}" alt="{{p.name}}" style="border-radius: 1.25rem;" width="280" height="280">
                                    </a>
                                    <div class="product-action-vertical">
                                        <a href="#" class="btn-product-icon btn-cart" data-toggle="modal" data-target="#addCartModal" hx-post="{% url 'core:add_to_cart' p.id %}" hx-target="#cart-items" hx-swap="innerHTML" title="Add to cart"><i class="d-icon-bag"></i></a>
                                        {% if user.is_authenticated %}
                                        <a href="#" class="btn-product-icon btn-wishlist"  hx-post="{% url 'core:add_to_wishlist' p.id %}" hx-target="#wishlist-container" hx-swap="innerHTML" title="Add to wishlist"><i class="d-icon-heart"></i></a>
                                        {% endif %}
                                        <a href="#" class="btn-product-icon btn-search btn-preview" title="Quick View" 
                                            hx-get="{% url "core:product-preview" p.slug %}" 
                                            hx-target="#quickViewContent"
                                            hx-trigger="click"
                                            hx-select="#MainContent"
                                            hx-swap="innerHTML">
                                            <i class="d-icon-search"></i>
                                        </a> 
                                    </div>
                                </figure>
                                <div class="product-details" style="text-align: left;">
                                    <div class="product-cat">
                                        <a href="{% url "core:category-detail" p.category.slug %}">{{p.category.name}}</a>
                                    </div>
                                    <h3 class="product-name">
                                        <a href="{% url "core:product-detail" p.slug %}" style="font-weight: 550;">{{p.name}}</a>
                                    </h3>
                                    <div class="product-name">
                                        <span class="price" style="font-weight: 550;">&#8358;{{p.price|floatformat:"0"|intcomma}}</span>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                            

                           
                        </div>
                    </div>
                </section>
                {% if "Hair Accessories" in products|dictsort:"category" %}
                <section class="mt-10 pt-8 mb-8 " data-animation-options="{
                    'name': 'fadeIn',
                    'delay': '.2s'
                }">
                    <div class="container">
                        <h2 class="title title-simple title-center">Hair Accessories</h2>
                        <div class="owl-carousel owl-theme row owl-nav-full cols-lg-4 cols-md-3 cols-2"
                            data-owl-options="{
                            'items': 4,
                            'dots': true,
                            'nav': false,
                            'loop': false,
                            'margin': 20,
                            'responsive': {
                                '0': {
                                    'items': 2
                                },
                                '576': {
                                    'items': 3
                                },
                                '768': {
                                    'items': 4
                                },
                                '992': {
                                    'items': 5
                                },
                                '1200': {
                                    'items': 6,
                                    'dots': false,
                                    'nav': true
                                }
                            }
                        }">
                        {% for product in products %}
                        {% if product.category|lower == 'hair accessories' %}
                            <div class="product text-center">
                                <figure class="product-media" style="background-color: #f7f8fa;">
                                    <a href="{{ product.get_absolute_url }}">
                                        <img src="{{ product.image.url }}" alt="{{ product.name }}" width="180" height="180">
                                    </a>
                                    <div class="product-action-vertical">
                                        <a href="#" class="btn-product-icon btn-cart" data-toggle="modal"
                                            data-target="#addCartModal" title="Add to cart"><i
                                                class="d-icon-bag"></i></a>
                                        <a href="#" class="btn-product-icon btn-wishlist" hx-post="" hx-target="#wishlist-container" hx-swap="innerHTML" title="Add to wishlist"><i
                                                class="d-icon-heart"></i></a>
                                    </div>
                                </figure>
                                <div class="product-details" style="text-align: left;">
                                    <div class="product-cat">
                                        <a href="{{ product.category_url }}">{{ product.category }}</a>
                                    </div>
                                    <h3 class="product-name">
                                        <a href="{{ product.get_absolute_url }}" style="font-weight: 600;">{{ product.name }}</a>
                                    </h3>
                                    <div class="product-price">
                                        <span class="price" style="font-weight: 600;">{{ product.price|floatformat:"0"|intcomma}}</span>
                                    </div>
                                    
                                </div>
                            </div>
                        {% endif %}
                        {% endfor %}

                        </div>
                    </div>
                </section>

                {% endif %}
 
            </div>
        </main>
{% endblock content %}