
{% extends "partials/base.html" %}
{% load static %}
{% load humanize %}
{% block content %}
<style>
    .product-detail-img{
        width: 280px !important;
        height: 320px !important; 
    }
    @media (max-width: 600px) {
        .product-detail-img {
            max-width: 100% !important; /* Adjust for smaller screens */
            height: 215px !important;
        }
    }
</style>
		<main class="main">
			<div class="page-header"
				style="background-image: url('{% static "images/shop/dfuhbgdfurh.jpg" %}');">
				<h1 class="page-title">All Products</h1>
				<ul class="breadcrumb">
					<li><a href="/"><i class="d-icon-home"></i></a></li>
					<li class="delimiter">/</li>
					<li>All Products</li>
				</ul>
			</div>

			<div class="page-content mb-10 pb-6">
				<div class="container">
					<div class="row main-content-wrap gutter-lg">
						<div class="main-content">
							<nav class="toolbox sticky-toolbox sticky-content fix-top">
								<div class="toolbox-left">
									<a href="#"
										class="toolbox-item left-sidebar-toggle btn btn-outline btn-primary btn-rounded btn-icon-right" style="border-radius: 3.75rem;">Filter<i
											class="d-icon-arrow-right" ></i></a>
									<div class="toolbox-item toolbox-sort select-box text-dark">
										<label>Sort By :</label>
										<select name="orderby" class="form-control">
											<option value="default" selected="selected">Default</option>
											<option value="popularity">Most Popular</option>
											<option value="rating">Average rating</option>
											<option value="date">Latest</option>
											<option value="price-low">Sort forward price low</option>
											<option value="price-high">Sort forward price high</option>
											<option value>Clear custom sort</option>
										</select>
									</div>
								</div>
								<div class="toolbox-right">
									<div class="toolbox-item toolbox-show select-box text-dark">
										<label>Show :</label>
										<select name="count" class="form-control">
											<option value="12">12</option>
											<option value="24">24</option>
											<option value="36">36</option>
										</select>
									</div>
								
								</div>
							</nav>
							{% include "htmx/all-products.html" %}
							<nav class="toolbox toolbox-pagination">
								<p class="show-info">Showing {{ products.start_index }} to {{ products.end_index }} of {{ products.paginator.count }} Products</p>
								<ul class="pagination">
									<!-- Previous Page Link -->
									{% if products.has_previous %}
										<li class="page-item">
											<a class="page-link page-link-prev" href="?page={{ products.previous_page_number }}" aria-label="Previous">
												<i class="d-icon-arrow-left"></i>Prev
											</a>
										</li>
									{% else %}
										<li class="page-item disabled">
											<a class="page-link page-link-prev" href="#" aria-label="Previous" tabindex="-1" aria-disabled="true">
												<i class="d-icon-arrow-left"></i>Prev
											</a>
										</li>
									{% endif %}
									
									<!-- Page Numbers -->
									{% for num in products.paginator.page_range %}
										{% if products.number == num %}
											<li class="page-item active" aria-current="page"><a class="page-link" href="#">{{ num }}</a></li>
										{% else %}
											<li class="page-item"><a class="page-link"   href="?page={{ num }}">{{ num }}</a></li>
										{% endif %}
									{% endfor %}
									
									<!-- Next Page Link -->
									{% if products.has_next %}
										<li class="page-item">
											<a class="page-link page-link-next" href="?page={{ products.next_page_number }}" aria-label="Next">
												Next<i class="d-icon-arrow-right"></i>
											</a>
										</li>
									{% else %}
										<li class="page-item disabled">
											<a class="page-link page-link-next" href="#" aria-label="Next" tabindex="-1" aria-disabled="true">
												Next<i class="d-icon-arrow-right"></i>
											</a>
										</li>
									{% endif %}
								</ul>
							</nav>
						</div>
						<aside class="col-lg-3 sidebar shop-sidebar">
							<div class="sidebar-overlay"></div>
							<a class="sidebar-close" href="#"><i class="d-icon-times"></i></a>
							<div class="sidebar-content">
								<div class="filter-actions mb-4">
									<a href="#" class="sidebar-toggle-btn toggle-remain btn btn-sm btn-outline 
											btn-primary btn-rounded btn-icon-right" style="border-radius: 3.75rem;">Filter<i class="d-icon-arrow-left"></i></a>
									<a href="#" class="filter-clean text-primary">Clean All</a>
								</div>
								<div class="widget widget-collapsible ">
									<h3 class="widget-title">Product Categories</h3>
									<ul class="widget-body filter-items search-ul" style="display: none;">
										{% for c in categories %}
										<li><a href="{{c.get_absolute_url}}">{{c.name}}</a></li>
										{% endfor %}
										
									</ul>
								</div>
								
								<div class="widget widget-collapsible">
									<h3 class="widget-title">Size</h3>
									<ul class="widget-body filter-items">
										<li><a href="#">Extra Large<span class="count">(2)</span></a></li>
										<li><a href="#">Large<span class="count">(5)</span></a></li>
										<li><a href="#">Medium<span class="count">(8)</span></a></li>
										<li><a href="#">Small<span class="count">(1)</span></a></li>
									</ul>
								</div>
								<div class="widget widget-collapsible">
									<h3 class="widget-title">Color</h3>
									<ul class="widget-body filter-items">
										<li><a href="#">Black<span class="count">(2)</span></a></li>
										<li><a href="#">Blue<span class="count">(5)</span></a></li>
										<li><a href="#">Green<span class="count">(8)</span></a></li>
										<li><a href="#">White<span class="count">(1)</span></a></li>
									</ul>
								</div>
								{% comment %} <div class="widget widget-collapsible">
									<h3 class="widget-title">Brands</h3>
									<ul class="widget-body filter-items">
										<li><a href="#">SLS<span>(2)</span></a></li>
										<li><a href="#">Cinderella<span>(5)</span></a></li>
										<li><a href="#">Comedy<span>(8)</span></a></li>
										<li><a href="#">Rightcheck<span>(1)</span></a></li>
									</ul>
								</div> {% endcomment %}
							</div>
						</aside>
					</div>
				</div>
			</div>
		</main>
{% endblock content %}