{% load static admin_urls %}

<table class="table">
    <thead>
        <tr>
            {% for inline_field in inline_admin_formset.formset.empty_form.visible_fields %}
                <th>{{ inline_field.label }}</th>
            {% endfor %}
            
        </tr>
    </thead>
    <tbody>
        {% for inline_admin_form in inline_admin_formset %}
            <tr class="formset-row">
                {% for inline_field in inline_admin_form %}
                    <td>
                      <label for="id_p_images-__prefix__-{{ inline_field.name }}"></label>
                       <input type="file" name="p_images-__prefix__-{{ inline_field.name }}" id="id_p_images-__prefix__-{{ inline_field.name }}">
                        {% if inline_field.errors %}
                            <div class="errors">{{ inline_field.errors }}</div>
                        {% endif %}
                    </td>
                {% endfor %}
                <td>
                    <button type="button" class="btn btn-danger" onclick="removeInline(this)">Delete</button>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>


<script type="text/javascript">
    let formIndex = {{ inline_admin_formset.formset.total_form_count }};



    function removeInline(button) {
        let row = button.closest('tr'); // Get the closest <tr> ancestor
        if (row) {
            row.remove(); // Remove the entire row
        }
    }

    document.addEventListener('DOMContentLoaded', function() {
        // Hide the delete checkbox and label
        let deleteCheckboxes = document.querySelectorAll('input[type="checkbox"][name$="DELETE"]');
        deleteCheckboxes.forEach(function(checkbox) {
            let td = checkbox.closest('td');
            if (td) {
                let label = td.previousElementSibling; // Assuming the label is immediately before the checkbox in the same row
                if (label) {
                    label.style.display = 'none'; // Hide the label
                }
                td.style.display = 'none'; // Hide the checkbox
            }
        });
    });
</script>
