{% extends "partials/base.html" %}
{% load static %}
{% load humanize %}
{% load custom_filters %}
{% block content %}
<script>
    document.addEventListener('DOMContentLoaded', function() {
        const shippingRadio = document.getElementById('free-shipping');
        const localPickup = document.getElementById('local_pickup');
        const shippingAddress = document.getElementById('shipping-address');
    
        shippingRadio.addEventListener('change', function() {
            if (this.checked) {
                shippingAddress.style.display = 'block'; // Show the shipping address form when "Shipping" is checked
            } else if (localPickup.checked) {
                shippingAddress.style.display = 'none'; // Hide the form if "Local Pickup" is checked
            } else {
                shippingAddress.style.display = 'none'; // Hide the form if no valid option is checked
            }
        });
    
        localPickup.addEventListener('change', function() {
            if (this.checked) {
                shippingAddress.style.display = 'none'; // Hide the form when "Local Pickup" is checked
            }
        });

    });
    function populateCities() {
        // Get the selected state
        var selectedState = document.getElementById('stateSelect').value.toLowerCase();
      
        // Get the city select element
        var citySelect = document.getElementById('citySelect');
      
        // Clear existing options
        citySelect.innerHTML = '<option value="select">Select City</option>';
      
        // Fetch cities based on the selected state
        if (selectedState !== 'select') {
          // Replace with your actual API endpoint
          const apiUrl = `/api/cities/${selectedState}`;
      
          // Fetch cities using AJAX
          fetch(apiUrl)
            .then(response => {
              if (!response.ok) {
                throw new Error('Network response was not ok');
              }
              return response.json();
            })
            .then(data => {
              
              // Check if the 'cities' property exists in the response
              if (data && data.cities) {
                
                data.cities.forEach(city => {
                  const option = document.createElement('option');
                  option.value = city;
                  option.text = city;
                  citySelect.appendChild(option);
                  
                });
                
              } else {
                console.error('Unexpected response format');
              }
            })
            .catch(error => {
              console.error('Error fetching cities');
            });
        }
      }
    
    
      $(document).ready(function(){
        // Check if citySelect exists before manipulating it
        if ($('#citySelect').length) {
          $('#citySelect').addClass('nice-select');
        }
      });
    
</script>
        <main class="main cart">
            <div class="page-content pt-7 pb-10">
                <div class="step-by pr-4 pl-4">
                    <h3 class="title title-simple title-step active"><a href="{% url "core:view_cart" %}">1. Shopping Cart</a></h3>
                    <h3 class="title title-simple title-step"><a href="#">2. Order Complete</a></h3>
                </div>
                <style>
                    @media screen and (max-width: 720px) {
                            .title-step {
                                font-size: 16px !important;
                            }
                         
                        }
                </style>
                <div class="container mt-7 mb-2">
                    <div class="row">
                        <div class="col-lg-8 col-md-12 pr-lg-4">
                            <table class="shop-table cart-table">
                                {% if cart.items.all %}
                                <thead>
                                    <tr>
                                        <th><span>Product</span></th>
                                        <th></th>
                                        <th><span>Price</span></th>
                                        <th><span>quantity</span></th>
                                        <th>Subtotal</th>
                                    </tr>
                                </thead>
                                {% endif %}
                                <tbody style="border-radius: 1.25rem;" id="cart-item-checkout">
                                    {% if cart.items.all %}
                                    {% include 'htmx/cart_item_checkout.html' %}
                                    {% else %}
                                    <h2 class="title title-center mb-5">No items in cart</h2>
                                    {% endif %}
                                </tbody>
                            </table>
                         
                            
                            <div class="cart-actions mb-6 pt-4">
                                <a href="{% url "core:products" %}" class="btn btn-dark btn-md btn-rounded btn-icon-left mr-4 mb-4" style="border-radius: 3.75rem;"><i
                                        class="d-icon-arrow-left"></i>Continue Shopping</a>
                                        <button type="button" class="btn btn-outline btn-dark btn-md btn-rounded" id="updateBtn" style="border-radius: 3.75rem;" hx-post="{% url 'core:update_cart' %}" hx-target="#cart-item-checkout" hx-swap="innerHTML">Update Cart</button>
                            </div>
                            {% comment %} <div class="cart-coupon-box mb-8">
                                <h4 class="title coupon-title text-uppercase ls-m">Coupon Discount</h4>
                                <input type="text" name="coupon_code"
                                    class="input-text form-control text-grey ls-m mb-4" id="coupon_code" value
                                    placeholder="Enter coupon code here...">
                                <button type="submit" class="btn btn-md btn-dark btn-rounded btn-outline" style="border-radius: 3.75rem;">Apply
                                    Coupon</button>
                            </div> {% endcomment %}
                        </div>
                        <aside class="col-lg-4 sticky-sidebar-wrapper">
                            <div class="sticky-sidebar" data-sticky-options="{'bottom': 20}">
                                <div class="summary mb-4" style="border-radius: 1.25rem;">
                                    <h3 class="summary-title text-left">Cart Totals</h3>
                                    {% if messages %}
                                        {% for message in messages %}
                                            <div class="alert alert-{{ message.tags }}" style="color: #fff;">{{ message }}</div>
                                        {% endfor %}
                                    {% endif %}

                                    <form method="POST" action="{% url 'core:checkout' %}" id="checkout-form">
                                        {% csrf_token %}
                                    <table class="shipping">
                                        <tr class="summary-subtotal">
                                            <td>
                                                <h4 class="summary-subtitle">Subtotal</h4>
                                            </td>
                                            <td>
                                                <p class="summary-subtotal-price">&#8358;{{cart_total|floatformat:"0"|intcomma }}</p>
                                            </td>
                                        </tr>
                                       
                                        <tr class="sumnary-shipping shipping-row-last">
                                            <td colspan="2">
                                                <h4 class="summary-subtitle">Calculate Shipping</h4>
                                                {% if cart.items.all %}
                                                
                                
                                                <ul>
                                                    {% if not user.is_authenticated %}
                                                    <li>
                                                        <div class="custom-radio">
                                                            <a class="login-toggle custom-control-label" href="#signin"  style="text-decoration: underline;">
                                                                Please log in to continue</a>
                                                        </div>
                                                    </li>
                                                    {% endif %}
                                                    <li>
                                                        <div class="custom-radio">
                                                            <input type="radio" id="free-shipping" value="shipping"  name="shipping_option"
                                                                class="custom-control-input" >
                                                            <label class="custom-control-label" for="free-shipping">
                                                                Shipping</label>
                                                        </div>
                                                    </li>
                                                    <li>
                                                        <div class="custom-radio">
                                                            <input type="hidden" id="local_pickup" value="pickup"  name="shipping_option"
                                                                class="custom-control-input" >
                                                            {% comment %} <label class="custom-control-label" for="local_pickup">Store
                                                                pickup</label> {% endcomment %}
                                                        </div>
                                                    </li>
                                                </ul>
                                                {% else %}
                                                <h4 class="title title-center mb-5" style="font-size: 1.5rem;">No items in cart</h4>
                                                {% endif %}
                                            </td>
                                        </tr>
                                    </table>
                                    <div class="shipping-address" id="shipping-address" style="display: none;">
                                        <label>Shipping to <strong>all locations</strong></label>
                                        <input type="hidden" class="form-control" name="country" value="Nigeria"  style="border-radius: 1.25rem" />
                                        <div class="select-box">
                                     
                                            <select class="form-control" style="border-radius: 1.25rem" id="stateSelect" name="state" onchange="populateCities()">
                                                <option value="">Select locations</option>
                                                <option value="Abia">Abia</option>
                                                <option value="Adamawa">Adamawa</option>
                                                <option value="Akwa Ibom">Akwa Ibom</option>
                                                <option value="Anambra">Anambra</option>
                                                <option value="Bauchi">Bauchi</option>
                                                <option value="Bayelsa">Bayelsa</option>
                                                <option value="Benue">Benue</option>
                                                <option value="Borno">Borno</option>
                                                <option value="Cross River">Cross River</option>
                                                <option value="Delta">Delta</option>
                                                <option value="Ebonyi">Ebonyi</option>
                                                <option value="Edo">Edo</option>
                                                <option value="Ekiti">Ekiti</option>
                                                <option value="Enugu">Enugu</option>
                                                <option value="Gombe">Gombe</option>
                                                <option value="Imo">Imo</option>
                                                <option value="Jigawa">Jigawa</option>
                                                <option value="Kaduna">Kaduna</option>
                                                <option value="Kano">Kano</option>
                                                <option value="Katsina">Katsina</option>
                                                <option value="Kebbi">Kebbi</option>
                                                <option value="Kogi">Kogi</option>
                                                <option value="Kwara">Kwara</option>
                                                <option value="Lagos">Lagos</option>
                                                <option value="Nasarawa">Nasarawa</option>
                                                <option value="Niger">Niger</option>
                                                <option value="Ogun">Ogun</option>
                                                <option value="Ondo">Ondo</option>
                                                <option value="Osun">Osun</option>
                                                <option value="Oyo">Oyo</option>
                                                <option value="Plateau">Plateau</option>
                                                <option value="Rivers">Rivers</option>
                                                <option value="Sokoto">Sokoto</option>
                                                <option value="Taraba">Taraba</option>
                                                <option value="Yobe">Yobe</option>
                                                <option value="Zamfara">Zamfara</option>
                                            
                                                
                                            </select>
                                            
                                        </div>
                                        <div class="select-box">
                                            <select name="city" class="form-control" style="border-radius: 1.25rem" id="citySelect">
                                                <option class="pb-5" value="select">Select City</option>
                                            </select>
                                        </div>
                                        <input type="text" class="form-control" name="address_line_1" placeholder="Town / City" style="border-radius: 1.25rem" />
                                        <input type="text" class="form-control" name="postal_code" placeholder="Postal code" style="border-radius: 1.25rem" />

                    
                                    
                                       

                                    </div>
                                    <table class="total">
                                        <tr class="summary-subtotal">
                                            <td>
                                                <h4 class="summary-subtitle">Total</h4>
                                            </td>
                                            <td>
                                                <p class="summary-total-price ls-s">&#8358;{{cart_total|floatformat:"0"|intcomma }}</p>
                                            </td>
                                        </tr>
                                    </table>
                                    {% if cart.items.all %}
                                        {% if user.is_authenticated  %}
                                        
                                        <button type="submit" class="btn btn-dark btn-rounded btn-checkout mt-3" style="border-radius: 3.75rem;">
                                            Proceed to checkout
                                        </button>
                                        
                                        {% else %}
                                        <a href="#signin" class="btn btn-dark btn-rounded btn-checkout mt-3 login-toggle" style="border-radius: 3.75rem;">
                                            Proceed to checkout
                                        </a>
                                        {% endif %}
                                    {% endif %}
                                    </form>
                                </div>
                            </div>
                        </aside>
                    </div>
                </div>
            </div>
        </main>

        <style>
            .d-icon-minus:before {
                content: "" !important;
            }
            
            .d-icon-plus:before {
                content: "" !important;
            }
        </style>
        
        
      {% endblock content %}