{% extends "partials/base.html" %}
{% load static %}
{% block content %}
        <main class="main">
            <nav class="breadcrumb-nav">
                <div class="container">
                    <ul class="breadcrumb">
                        <li><a href="/"><i class="d-icon-home"></i> Home</a></li>
                        <li>Wishlist</li>
                    </ul>
                </div>
            </nav>
            <div class="page-content pt-10 pb-10 mb-2">
                <div class="container">
                    <table class="shop-table wishlist-table mt-2 mb-4">
                        {% if wishlist_items  %}
                        <thead>
                            <tr>
                                <th class="product-name"><span>Product</span></th>
                                <th></th>
                                <th class="product-price"><span>Price</span></th>
                                <th class="product-stock-status"><span>Stock status</span></th>
                                <th class="product-add-to-cart"></th>
                                <th class="product-remove"></th>
                            </tr>
                        </thead>
                        {% endif %}
                        <tbody class="wishlist-items-wrapper">
                            
                            {% if wishlist_items %}
                                {% for item in wishlist_items %}
                                <tr  id="wishlist-item-{{ item.id }}">
                                    <td class="product-thumbnail">
                                        <a href="{% url "core:product-detail" item.product.slug %}">
                                            <figure>
                                                <img src="{{item.product.image.url}}" width="100" height="100"
                                                    alt="product">
                                            </figure>
                                        </a>
                                    </td>
                                    <td class="product-name">
                                        <a href="{% url "core:product-detail" item.product.slug %}">{{item.product.name|capfirst}}</a>
                                    </td>
                                    <td class="product-price">
                                        <span class="amount">${{item.product.price}}</span>
                                    </td>
                                    <td class="product-stock-status">
                                        <span class="wishlist-in-stock">In Stock</span>
                                    </td>
                                    <td class="product-add-to-cart">
                                        <a href="#"   class="btn-product btn-primary"><span>Add to cart</span></a>
                                    </td>
                                    <td class="product-remove">
                                        <div>
                                            <a href="#"  class="remove" title="Remove this product"><i
                                                    class="fas fa-times"></i></a>
                                        </div>
                                    </td>
                                </tr>
                                {% endfor %}
                            {% else %}
                            <h2 class="title title-center mb-5">No items in wishlist</h2>
                            {% endif %}
                        </tbody>
                    </table>
                    <div class="social-links share-on">
                        <h5 class="text-uppercase font-weight-bold mb-0 mr-4 ls-s">Share on:</h5>
                        <a href="#" class="social-link social-icon social-facebook" title="Facebook"><i
                                class="fab fa-facebook-f"></i></a>
                        <a href="#" class="social-link social-icon social-instagram" title="Instagram"><i
                                class="fab fa-instagram"></i></a>
                        <a href="#" class="social-link social-icon social-whatsapp" title="Whatsapp"><i
                                class="fab fa-whatsapp"></i></a>
                    </div>
                </div>
            </div>
        </main>
{% endblock content %}